.navbar
        {
        display: flex;
        align-items: center;
        padding: 20px;
		background-color:  lightblue;
        }
        nav
        {
            flex: 1;
            text-align: right;
        }
        nav ul
        {
            display: inline-block;
            list-style-type: none;
        }
        nav ul li
        {
            display: inline-block;
            margin-right:20px ;
        }
        a
        {
            text-decoration: none;
            color: #555;
        }
       